
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>saveFlightInfo</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        img {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        canvas {
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>

    @{
        //int time = int.Parse(@HttpContext.Current.Session["timeSave"].ToString());
        //int timeout = int.Parse(@HttpContext.Current.Session["duration"].ToString());
    }

</head>
<body id="body" style="background:url(../../Resources/export-map-share.png);background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed">
    <img id="img" src="~/Resources/export-map-share.png" />
    <canvas id="myCanvas"></canvas>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        var prevLon;
        var prevLat;
        //var Lon;
        //var Lat;
        var a = document.getElementById("body");
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        c.width = window.innerWidth;
        c.height = window.innerHeight;

        var IntervalTime = 1000 / @Session["timeSave"]
        var timeout = 1000 * @Session["duration"]

        function displaySamples() {
            if (timeout > 0) {
                $.post("@Url.Action("GetSaveSample")").done(function (xml) {
                    var xmlDoc = $.parseXML(xml),
                        $xml = $(xmlDoc),
                        Lon = $xml.find("Lon").text();
                    Lat = $xml.find("Lat").text();

                    var normalizedLon = (window.innerWidth / 360.0) * (parseFloat(Lon) + 180);
                    var normalizedLat = (window.innerHeight / 180.0) * (parseFloat(Lat) + 90);

                    if ((prevLon != null) && (prevLat != null)) {
                        ctx.strokeStyle = "red";
                        ctx.lineWidth = 1;
                        ctx.moveTo(prevLon, prevLat);
                        ctx.lineTo(normalizedLon, normalizedLat);
                        ctx.stroke();
                    }

                    //ctx.clearRect(0, 0, c.width, c.height);
                    ctx.beginPath();
                    ctx.strokeStyle = "blue";
                    ctx.lineWidth = 3;
                    ctx.arc(normalizedLon, normalizedLat, 3, 0, 2 * Math.PI);
                    ctx.stroke();
                    ctx.fillStyle = "red";
                    ctx.fill();

                    prevLon = normalizedLon;
                    prevLat = normalizedLat;

                });
                timeout -= IntervalTime;
            } else {
                clearInterval(sampleInterval);
            }
        }

        sampleInterval = setInterval(displaySamples, IntervalTime);
        displaySamples();
    </script>

</body>
</html>
